# pixi environments
.pixi/*
!.pixi/config.toml

# ROS2 build artifacts
build/
install/
log/

# General
*.pyc
__pycache__/
.DS_Store
*~
*.swp
*.swo

src/gecko_robot/model/OLD_materials.xacro
src/gecko_robot/model/OLD_xacro_variables.xacro
src/gecko_robot/model/OLD_diff_drive_robot.xacro

src/gecko_robot/gecko_robot/IK_solver.py
