<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters> $(find gecko_robot)/config/robot_controller.yaml </parameters>
    </plugin>
</gazebo>

<gazebo reference="base_link">
    <material>Gazebo/Pink</material>
</gazebo>

<gazebo reference="leg">
    <material>Gazebo/Green</material>
</gazebo>

<gazebo reference="foot">
    <material>Gazebo/Blue</material>
</gazebo>

<gazebo reference="leg_2">
    <material>Gazebo/Green</material>
</gazebo>

<gazebo reference="foot_2">
    <material>Gazebo/Blue</material>
</gazebo>

<gazebo reference="leg_3">
    <material>Gazebo/Green</material>
</gazebo>

<gazebo reference="foot_3">
    <material>Gazebo/Blue</material>
</gazebo>

<gazebo reference="leg_4">
    <material>Gazebo/Green</material>
</gazebo>

<gazebo reference="foot_4">
    <material>Gazebo/Blue</material>
</gazebo>

</robot>